<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <style>
            table, tr {
                border: 1px solid white;
                }
        </style>
        <title>Grant University</title>
    </h:head>
    <h:body>
        <ui:composition template="BaseTemplate.xhtml">
            <ui:define name="body">
                <p style="color: darkblue; font-size:20pt">
                   <b>UNIVERSITY</b> <br/> </p>   
               <p style="font-size:15pt">
Grant University, was established in the year 1976 with a specific objective-
<br/><br/> "To establish and incorporate a teaching-cum-affiliating University at California for the encouragement of interdisciplinary higher education and research with special emphasis on studies of Life Sciences and Environmental and Ecological Sciences". During the last 26 years of its existence, the University has achieved a remarkable degree of success in its expansion programs, infrastructural developments, and academic excellence.
<br/><br/>There are 66 Boards of Studies for developing and designing courses in different disciplines.

<br/><br/>In addition to the main Campus, there are two satellite campuses - Regional Centre running post-graduate teaching at California and National Law College at Texas.

<br/><br/> As an affiliating University, it has 126 institutions and colleges under its control with an enrolment of about 170,000 students.

<br/><br/> Affiliated institutes of Grant University consist of a number of Engineering Colleges, Computer and Management Studies institutes, and Pharmaceutical Colleges.
</p>
            </ui:define>
        </ui:composition>

    </h:body>
</html>