<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <style>
            table, tr {
                border: 1px solid white;
                }
        </style>
        <title>Grant University</title>
    </h:head>
    <h:body>
        <ui:composition template="BaseTemplate.xhtml">
            <ui:define name="body">
                <p style="color:darkblue;font-size:20pt">
          <b>Welcome to Grant University </b> </p>
     <p style="font-size:15pt">The Portal is committed to disseminate major information about the University for quick reference. </p>
     <p style="color:darkblue; font-size: 20pt"><b>VCs Message</b></p>
                       <p style="font-size: 15pt"> It gives us immense pleasure in welcoming you to the Web Portal of Grant University, California, and to extend our best wishes for success in all your academic endeavors.</p>
                      <p style="color:darkblue; font-size:20pt"><b>Mission Statement</b> </p>
                    <p style="font-size: 15pt"> Established and incorporated for the encouragement of inter-disciplinary higher Education and Research. <br/>Dedicated to spread the knowledge to every part of its jurisdiction. <br/>University is open to all races / classes / castes and creeds......
                    </p>
</ui:define>
    </ui:composition>


    </h:body>
</html>